.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-frame {
    border: 1px solid black;
    height: 40.1rem;
}
  
#map {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content img { margin: 0 auto; display:block; }